﻿@{
    ViewBag.Title = "list";
}

<form method="post">
    <table class="table table-classic table-hover">
        <colgroup>
            <col width="90" />
            <col width="*" />
            <col width="150" />
            <col width="200" />
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in ViewBag.list)
            {
                <tr>
                    <td>@list.idx</td>
                    <td><a href="@Url.Action("view", new { idx = @list.idx })">@list.title</a></td>
                    <td>@list.regId</td>
                    <td>@list.regDate</td>
                </tr>
            }
        </tbody>
    </table>
    <div><button type="button" onclick="register()">등록</button> </div>
    <div class="paging paging-large" style="width: 500px;">
        <a href="@Url.Action("list", new { page = @ViewBag.pagination.getGoPrevPage() })" class="prev">&lt;&lt;</a>
        <div class="list">
            @for (var idx = @ViewBag.pagination.getPageBegin(); idx <= @ViewBag.pagination.getPageEnd(); idx++)
            {
                if (@ViewBag.pagination.page == @idx)
                {
                    <a href="@Url.Action("list", new { page = @idx })" class="on">@idx</a>
                }
                else
                {
                    <a href="@Url.Action("list", new { page = @idx})">@idx</a>
                }
            }
        </div>
        <a href="@Url.Action("list", new { page = @ViewBag.pagination.getGoNextPage() })" class="next">&gt;&gt;</a>

    </div>
    <div class="search_area">
        <select name="searchInput">
            <option value="title">제목</option>
            <option value="contents">내용</option>
            <option value="regId">작성자</option>
        </select>
        <input type="text" name="searchValue" value="" />
        <button type="submit">search</button>
    </div>
</form>
<script>
    function register() {
        location.href = '/Board/register';
    };

</script>