﻿@{
    ViewBag.Title = "modify";
}


<div class="panel">
    <form method="post" action="modifySubmit">
        <div class="head">
            <i class="icon-left"></i>
            <strong><input type="text" name="title" value="@ViewBag.item.title" /> </strong>
        </div>
        <div class="body">
            <textarea cols="80" rows="8" name="contents">@ViewBag.item.contents</textarea>
            <input type="hidden" name="regId" value="testId" />
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
        </div>
    </form>
    <div class="foot">
        <button style="button" onclick="register()">수정</button><button style="button" onclick="history.back()">취소</button>
    </div>
</div>

<script>
    function register() {
        $('form').submit();
    }
</script>