﻿@{
    ViewBag.Title = "register";
}

<div class="panel">
    <form method="post" action="registerSubmit">
        <div class="head">
            <i class="icon-left"></i>
            <strong><input type="text" name="title" value="" /> </strong>
        </div>
        <div class="body">
            <textarea cols="80" rows="8" name="contents"></textarea>
            <input type="hidden" name="regId" value="testId" />
        </div>
    </form>
    <div class="foot">
        <button style="button" onclick="register()">등록</button><button style="button" onclick="history.back()">취소</button>
    </div>
</div>

<script>
    function register() {
        $('form').submit();
    }
</script>