﻿@{
    ViewBag.Title = "view";
}
<style>
 .body{min-height:500px;}
</style>
<div class="panel">
    <form method="post">
        <div class="head">
            <i class="icon-left"></i>
            <strong>@ViewBag.item.title</strong>
        </div>
        <div class="body">
            @ViewBag.item.contents
        </div>
        <div class="foot">
            <span>@ViewBag.item.regDate</span> | <span>@ViewBag.item.regId</span>
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
            
            <div><button type="button" onclick="modify()">수정</button><button type="button" onclick="    deleteItem()">삭제</button></div>
        </div>
    </form>
</div>
<script>
    function deleteItem() {
        $('form').attr('action', 'delete').submit();
    };

    function modify(){
        $('form').attr('action', 'modify').submit();
    };
</script>