﻿<!DOCTYPE html>
<html>
<head>
    <title>Test Board</title>
    <link rel="stylesheet" href="/Resources/jui/jui.min.css" />
    <link rel="stylesheet" href="/Resources/css/index.css" />
    <link rel="stylesheet" href="/Resources/css/common.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="Resources/jui/jui.min.js"></script>

</head>
<body class="jui">
    <header class="navbar navbar-fixed-top">
        <div class="center" style="position: relative;">
            <span class="menu menu-left">
                <a href="/">Home</a>
                <a href="/Board/list">Board</a>
            </span>
            <span class="menu menu-right">
                
            </span>
        </div>
    </header>
    <div class="main">
        @RenderBody()
    </div>
</body>
</html>
